<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <app-album-create (albumCreated)="setCreated($event)"
                    (albumRemoved)="removeCreated($event)"></app-album-create>
  <div class="thumbAlbum">
    <app-album-thumb *ngFor="let album of albums"
                     [album]="album"
                     (albumSelected)="setCurrent($event)"
                     [class.selected]="album == currentAlbum">
    </app-album-thumb>
  </div>
  <div class="detailAlbum">
    <app-album-detail *ngIf="currentAlbum" [album]="currentAlbum"></app-album-detail>
  </div>
</div>
